@import "tailwindcss";

:root {
  --color-turquoise: #1aa6a4;
  --color-orange: #f06c00;
  --color-blue: #1a86b0;
  --color-red: #e8242a;
  --color-light: #ededed;
  --color-white: #ffffff;
}

.font-fredoka {
  font-family: var(--font-fredoka), sans-serif;
}

.font-fredoka-condensed {
  font-family: var(--font-fredoka-condensed), sans-serif;
}

.font-chewy {
  font-family: var(--font-chewy), sans-serif;
}

.font-chau {
  font-family: var(--font-chau), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
